$color-primary-dark: #3938b8;
$color-primary-light: #7877e2;
$color-secondary-light: #f0356c;
$grey-border: #CCD8E1;
$error-color:#f5222d;
$grey-color: #909DAF;
$success-color: #52c41a;
$warning-color: #faad14;
$input-border-color: #d9d9d9;